.cover__subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  max-width: 360px;
  text-decoration: none;
  margin: 0;

  z-index: 1;
}

@media (max-width: 368px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 268px;
  }
}
