.content__photo-grid {
  margin: 92px auto;
}

@media (max-width: 768px) {
  .content__photo-grid {
    margin: 88px auto;
  }
}
@media (max-width: 320px) {
  .content__photo-grid {
    margin: 64px auto;
  }
}
