.lead__image-description {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  align-self: flex-start;
}

@media (max-width: 1022px) {
  .lead__image-description {
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__image-description {
    margin-left: 16px;
  }
}
