.place__paragraph-inner {
  font-size: 18px;
  line-height: 163%;
  font-weight: 400;
  color: #fff;
  margin: 0 0 25px;
}

.place__paragraph-inner:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph-inner {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .place__paragraph-inner {
    padding: 0 16px;
  }
}
