.cover__title {
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  text-decoration: none;
  margin: 0 0 32px;
  z-index: 1;
}

@media (max-width: 736px) {
  .cover__title {
    font-size: 60px;
    line-height: 63px;
    max-width: 400px;
  }
}
@media (max-width: 470px) {
  .cover__title {
    font-size: 42px;
    line-height: 45px;
    max-width: 400px;
  }
}

@media (max-width: 368px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
    margin: 0 0 16px;
  }
}
